body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    background: #1e1e1e;
    color: white;
  }
  
  #game {
    margin-top: 100px;
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  #zombie, #player {
    font-size: 60px;
    position: absolute;
    top: 100px;
  }
  
  #zombie {
    left: 10%;
    transition: left 0.2s ease;
  }
  
  #player {
    left: 70%;
  }
  
  #instruction, #status {
    margin-top: 200px;
    font-size: 18px;
  }
  
